/*@import "@fullcalendar/daygrid/main.css";
/*@import "@fullcalendar/timegrid/main.css"; /* jeśli używasz timegrid */
/*@import "@fullcalendar/list/main.css";     /* jeśli używasz list view */

/* Ukryj daty w nagłówkach */
.fc-col-header-cell .fc-day-number {
  display: none;
}

/* Usuń podświetlenie aktualnego dnia */
.fc-day-today {
  background-color: transparent !important;
}

/* Opcjonalnie: usuń cień lub inne efekty */
.fc-now-indicator {
  display: none;
}

/* Białe nazwy dni tygodnia */
/* Nadpisanie koloru tekstu w nagłówkach dni tygodnia */
.fc .fc-col-header-cell-cushion {
  color: white !important;
}

/* Opcjonalnie: tło nagłówka dla kontrastu */
.fc-col-header-cell, .fc-timegrid-axis {
  background-color: #333 !important;
}

/* Zwiększenie wysokości slotów czasowych w widoku timeGrid */
.fc-timegrid-slot {
  height: 2.5em !important; /* domyślnie to ok. 1.25em, więc x2 */
}

/* Opcjonalnie: zwiększenie odstępu między liniami */
.fc-timegrid-slot-label {
  line-height: 2.5em !important;
}

.fc-event-title,
.fc-event-title-container {
  white-space: normal !important;
}

.fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 0em !important;
}
